* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5a311d;
  background-image: url('./images/background.jpg');
}

h1 {
  margin: 200px 0 -180px;
  color: white;
  font-size: 22px;
}

.calculator {
  border: 5px solid black;
  background-color: #343938;
  margin-top: 200px;
  border-radius: 8px;
  /* padding: 10px; */
}

h2 {
  border-radius: 4px;
  background-color: #dfe1e0;
  color: #2a3337;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}

.calc-header-1 {
  color: #569bb6;
  font-size: 20px;
}

.calc-header-2 {
  color: #a5a9a8;
  font-size: 10px;
}

.display {
  text-align: right;
  background-color: #061117;
  color: #03ecf0;
  padding: 5px;
}

.display-top {
  font-size: 11.5px;
  padding: 0 10px;
  height: 20px;
  opacity: 0.85;
}

.display-bottom {
  font-size: 25px;
  padding: 0 10px;
  height: 30px;
}

.fade {
  opacity: 0.7;
}


.display-result {
  text-decoration: double;
}



.button-container {
  padding: 0 10px 10px 10px;
}

.button-row {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  position: relative;
}

button {
  border: none;
  border-radius: 8px;
  height: 32px;
  width: 64px;
  font-size: 20px;
  font-weight: bold;
  background-color: #c5b292;
  color: #3f453f;
  box-shadow: #c5b2925e 0px 2px 2px;
} 

button:active {
  opacity: 0.8;
  box-shadow: black 0px 0px 0px;


}